/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.row {
    margin-top: 10px;
}

.searchResult {
    font-size: larger;
    cursor: pointer;
    border-bottom: 2px solid lightblue;
}

.title {
    font-weight: bolder;
}