<form>
  <div class="row">
    <div class="col-md-12">
        <input type="text" id="searchInput" name="searchTerm" class="form-control" placeholder="Search" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
    </div>
  </div>
</form>
<div class="row" id="results">
  <div class="col-md-12">
    TODO add detail component here that takes in an item as an @Input().  Iterate over the results variable in app.component.ts using *ngFor in the parent div immediately above. 
  </div>
</div>